<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>pdfquestion</title>
        <link rel="stylesheet" type="text/css" href="">
        <link rel="stylesheet" type="text/css" href="css/custom.css">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!--Font-->
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Archivo+Black'>
        <style>
            .sub-text h3{
                font-family: 'Archivo Black', sans-serif;
                text-align: center;
            }
            h4{
                text-align: center;
            }
            h5{
                text-align: center;
            }
            h6{
                text-align: center;
                font-size: 15px;
                font-family: 'Archivo Black', sans-serif;
            }
            i{
                text-align: center;
            }
            .four{
                text-align: center;
            }
        </style>
    </head>
    <body style="margin-top:70px">
        <div class="container">
            <div class="row">
                <div class=" col-md-12  sub-text">
                   
                        {!! Html::image('assets/bootstrap/img/stamford-logo.gif', 'a picture', array('class' => 'img-responsive','title' => 'the title', 'class' => 'the-class', 'style' => 'width:100%px')) !!}
                    
                        <h3>STAMFORD UNIVERSITY BANGLADESH</h3>
                        <h4>Department of Computer Science and Engineering</h4>
                        <h5>{!! $head['exam_type'] !!},{!! $head['trimister'] !!} Trimester</h5>
                        <h5>{!!  $head['code'] !!} : {!!  $head['title'] !!}</h5>
                        <h5>CT: {!! $head['ct'] !!}</h5>
                        <h5>Date and Time: {!!  $head['exam_date'] !!} & {!!  $head['time'] !!}</h5>
                                     
                </div><br>
                <div class="col-md-6 col-md-offset-2">
                    <p>
                        <strong>Batch: </strong>{!!  $head['batch'] !!}<br>
                        <strong>Duration: </strong>2 hours
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <strong>Capmus::</strong>Siddeswari<br>
                        <strong>Full Marks: </strong>30
                    </p>
                </div>
            </div><hr><br>
            <div class="col-md-offset-1 col-md-10">
                <p class="four"><i>(There are <strong>Four </strong>questions.Answer any <strong>THREE </strong>of them. Figures in the right margin indicate<br> full marks. Write anything on the question paper is strictly prohibited.)</i></p>
            </div><br><br><br>
            <!--1-->
            <?php
            $sn = 1;
            $alp = 'a';
            ?>
            @foreach($questions as $sets)
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-1">{{$sn}}.</div>
                @foreach($sets as $set)
                <div class="col-md-1">({{$alp}})</div>
                <div class="col-md-9">
                    <p style="text-align: justify">
                      {{$set['question']}}anything on the question paper is strictly prohibited strictly prohibited.
                      </p>
                </div>
                <div class="col-md-1">[{{$set['mark']}}]</div><br>
                <?php $alp++; ?>
                @endforeach
                <?php
                $alp = 'a';
                $sn++;
                ?>   
            </div><br><br><br>
            @endforeach    
        </div>
        <div class="col-md-offset-1 col-md-10 sub-text">
            <h6>===GOOD LUCK===</h6>
        </div>
    <button type="button" class="btn btn-default">
      <a href="{!! url('pdfdownload')!!}"><b>Download</b></a> 
    </button>
    
  </body>
  <!--script-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</html>